{% extends 'web_app/base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}

                            {# Обращаемся к полю формы напрямую #}
                            <div class="form-group">
                                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                                {{ form.email }} {# Здесь автоматически будет class="form-control" #}
                            </div>

                            <button type="submit" class="btn btn-primary mt-3">Сбросить пароль</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}