{% extends 'web_app/base.html' %}
{% load my_tags %}
{% load cache %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% cache 600 sidebar request.user.email %}
            {% for recipient in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">Фамилия: {{recipient.last_name}}</p>
                        <p class="card-text">Имя: {{recipient.name}}</p>
                        <p class="card-text">Отчество: {{recipient.middle_name}}</p>
                        <p class="card-text">Почта: {{recipient.email}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'web_app:recipient_detail' recipient.pk %}"
                                   role="button">Watch</a>
                                <a class="btn btn-primary" href="{% url 'web_app:recipient_update' recipient.pk %}"
                                   role="button">Update</a>
                                <a class="btn btn-primary" href="{% url 'web_app:recipient_delete' recipient.pk %}"
                                   role="button">Delete</a>
                            </div>
                            <small class="text-body-secondary">9 mins</small></div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endcache %}
        </div>
    </div>
</div>
{% endblock %}