{% extends 'web_app/base.html' %}
{% load my_tags %}

{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row justify-content-center"> 
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h5 class="card-title">Рассылка №{{ object.id }}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong>Начало:</strong> {{ object.start_time }}</p>
                        <p class="card-text"><strong>Конец:</strong> {{ object.end_time }}</p>
                        <p class="card-text"><strong>Статус:</strong> {{ object.get_status_display }}</p>
                        <p class="card-text"><strong>Сообщение:</strong> {{ object.message }}</p>
                        <p class="card-text"><strong>Получатели:</strong>
                            {% for recipient in object.recipients.all %}
                                {{ recipient.email }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>

                        <hr>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-outline-primary" href="{% url 'web_app:mailing_list' %}" role="button">Назад</a>

                                <a href="{% url 'web_app:mailing_start' object.pk %}" class="btn btn-warning">Запустить вручную</a>
                            </div>
                            <small class="text-body-secondary">создано: {{ object.id }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
